
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ÖğrenciLayout.cshtml";
}


<br />
<br />
<div class="container-fluid">
    <h2 class="space">Sınav Kuralları</h2>

    <div class="space">
        <p><span style="color:red;font-size:25px;">* </span>Sınav Süresi 10 dk'dır</p>
        <p><span style="color:red;font-size:25px;">* </span>Sınav 10 sorudan oluşmaktadır</p>
        <p><span style="color:red;font-size:25px;">* </span>Sınav şıkları işaretlendikten sonra cevaplar değiştirilemez</p>
        <p><span style="color:red;font-size:25px;">* </span>Sınav soruları 4 şıktan oluşmaktadır</p>
        <p><span style="color:red;font-size:25px;">* </span>Gönder butonuna basıldıktan sonra Sınava tekrar giriş yapılamaz(Bir sonraki tarihe kadar)</p>
    </div>
    <div class="space">
        <a  href="/Ögrenci/EklenenSorularınGosterimi/"> <span style="margin-left:45%;">Sınava Başla</span></a>
    </div>
</div>

