@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="inner-box" id="card">
                <div class="card-front">
                    <h2>Admin Giriş Ekranı</h2>
                    @*adminin giriş yaptığı kısmı*@
                    @using (Html.BeginForm("AdminGirisYap", "Login", FormMethod.Post))
                    {
                        <form class="form-group">
                            <input type="email" class="input-box" name="Mail" placeholder="Your Email" required>
                            <input type="password" class="input-box" name="Password" placeholder="Password" required>
                            <button type="submit" class="Submit-btn">Giriş Yap</button>

                        </form>
                    }
                </div>

            </div>
        </div>
    </div>
    </div>

</body>
</html>

